# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor/IDE
.vscode/

# TypeScript build artifacts
*.js
*.js.map

# Misc
*.swp
*.swo

# Next.js
.next/
out/
